/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.profile{
  border-radius: 100%;
  border: 2px solid black;
  margin: 3% 0;

}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
} 
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 30%;
      height: 100%;
    }
    /*.sidebar a {float: left;}
    div.content {margin-left: 0;} */
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar {
        width: 15%;
        height: 100%;
      }
  }
  
  .profile{
    width: 100px;
    height:100px;
  }
  .topbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .lightGreen{
    background-color: #4c7a4c;
  }
  .darkGreen{
    background-color: #3a5c3a;
  }
  .paleGreen{
    background-color: #d9e7d9;
  }
  .Green{
    background-color: #4caf50;
  }
  .White{
    background-color: #f2f2f2;
  }
  .color-paleGreen{
    color:#d9e7d9;
  }

  .body {
    margin: 0em;
  }
  
  .page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    overflow-y: auto;
    z-index: 0;
    background-color: #d9e7d9;
  }
  
  .page:target {
    left: 0vw;
    z-index: 1;
  }